/* General */

:root {
	--accent: aqua;
	--background: #0F0F0F;
	--foreground: #222;
	--outside: #1F1F1F;
	--post: #161616;
	--highlighted: #333;
	--black-contrast: 0 1px 3px rgba(0,0,0,0.5);
}

* {
	transition: 0.2s all;
	margin: 0;
	color: white;
	font-family: sans-serif;
	outline: none;
}

body {
	background: var(--background);
	visibility: visible !important;
}

nav {
	display: flex;
	justify-content: space-between;
	color: var(--accent);
	background: var(--outside);
	padding: 15px;
	font-size: 20px;
}

#lib, #github {
	color: white;
}

main {
	display: flex;
	justify-content: center;
	max-width: 750px;
	padding: 10px 20px;
	margin: 20px auto;
}

footer {
	display: flex;
	justify-content: center;
}

button {
	background: none;
	border: none;
	font-weight: bold;
}

hr {
	margin: 20px 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a:not(.post_right):hover {
	text-decoration: underline;
}

img[src=""] {
	display: none;
}

aside {
	flex-grow: 1;
	margin: 20px 20px 0 20px;
	max-width: 350px;
}

#version {
	color: white;
	opacity: 25%;
}

/* User & Subreddit */

#user, #subreddit, #sidebar {
	margin: 40px auto 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	height: max-content;
	background: var(--outside);
	border-radius: 5px;
}

#sidebar, #sidebar_contents {
	margin-top: 20px;
}

#sidebar_label {
	border: 2px solid var(--highlighted);
	padding: 10px;
}

#user_icon, #subreddit_icon {
	width: 100px;
	height: 100px;
	border: 2px solid var(--accent);
	border-radius: 100%;
	padding: 10px;
	margin: 10px;
}

#user_name, #subreddit_name {
	margin-top: 10px;
}

#user_description, #subreddit_description {
	margin: 10px 20px;
	text-align: center;
	font-size: 15px;
}

#user_details, #subreddit_details {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 15px;
	grid-column-gap: 20px;
}

#user_details > label, #subreddit_details > label {
	color: var(--accent);
	font-size: 15px;
}

/* Sorting */

#sort, #timeframe {
	background: var(--outside);
	box-shadow: var(--black-contrast);
	border: 0;
	padding: 0 15px;
	margin-bottom: 20px;
	height: 40px;
	font-size: 15px;
	border-radius: 5px 0 0 5px;
	appearance: none;
}

#timeframe {
	border-radius: 0;
	border-left: 4px solid var(--highlighted);
}

#sort_submit {
	background: var(--highlighted);
	border: 0;
	font-size: 15px;
	height: 40px;
	border-radius: 0 5px 5px 0;
}

#sort:hover, #timeframe:hover { background: var(--foreground); }
#sort_submit:hover { color: var(--accent); }

#sort > div, footer > a {
	box-shadow: var(--black-contrast);
	background: var(--outside);
	color: lightgrey;
	border-radius: 5px;
	margin-right: 5px;
	padding: 10px 20px;
	text-align: center;
	cursor: pointer;
}

#sort > div.selected {
	background: var(--accent);
	color: black;
}

#sort > div:hover {
	background: var(--foreground);
}

/* Post */

.post {
	border-radius: 5px;
	background: var(--post);
	box-shadow: var(--black-contrast);
	display: flex;
}

.post.highlighted {
	margin: 20px 0;
}

.post:hover {
	background: var(--foreground);
}

.post:hover > .post_left {
	background: var(--highlighted);
}

.post_left, .post_right {
	display: flex;
	flex-direction: column;
	overflow-wrap: anywhere;
}

.post_left {
	text-align: center;
	background: var(--foreground);
	border-radius: 5px 0 0 5px;
	min-width: 50px;
	padding: 5px;
}

.post_score {
	margin-top: 20px;
	color: var(--accent);
	font-size: 16px;
}

.nsfw {
	color: #FF5C5D;
	margin-top: 20px;
	border: 1px solid #FF5C5D;
	padding: 5px;
	font-size: 12px;
	border-radius: 5px;
	font-weight: bold;
}

.stickied {
	--accent: #5cff85;
	border: 1px solid #5cff85;
	padding: 5px;
}

.post_subreddit {
	font-weight: bold;
}

.post_title {
	font-size: 18px;
}

.post_right {
	padding: 20px 25px;
	flex-grow: 1;
	flex-shrink: 1;
}

.post_right > * {
	margin: 5px;
}

.post_media {
	max-width: 90%;
	align-self: center;
}

.post_body {
	opacity: 0.9;
	font-weight: normal;
	margin: 10px 5px;
}

#post_url {
	color: var(--accent);
}

.post_thumbnail {
	object-fit: cover;
	width: auto;
	flex-shrink: 0;
	padding: 10px;
	border-radius: 15px;
	max-width: 20%;
}

.post_flair {
	background: var(--accent);
	color: black;
	padding: 5px;
	margin-right: 5px;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
}

/* Comment */

.comment {
	margin-top: 15px;
	border-radius: 5px;
	display: flex;
	font-size: 15px;
}

.comment_left, .comment_right {
	display: flex;
	flex-direction: column;
}

.comment_left {
	text-align: center;
	min-width: 50px;
	padding: 5px 0;
	align-items: center;
}

.comment_title { font-size: 20px; }
.comment_link { text-decoration: underline; }
.comment_author { opacity: 0.9; }

.comment_author.op {
	color: var(--accent);
	font-weight: bold;
}

.author_flair {
	background: var(--highlighted);
	color: white;
	padding: 5px;
	margin-right: 5px;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
}

.comment_subreddit {
	font-weight: bold;
}

.comment_score {
	color: var(--accent);
	background: var(--foreground);
	min-width: 40px;
	border-radius: 5px;
	padding: 10px 0;
	font-size: 16px;
}

.comment_right {
	word-wrap: anywhere;
	padding: 10px 25px 10px 5px;
	flex-grow: 1;
	flex-shrink: 1;
}

.comment_data > * {
	margin: 5px;
}

.comment_image {
	max-width: 500px;
	align-self: center;
}

.comment_body {
	opacity: 0.9;
	font-weight: normal;
	margin: 10px 5px;
}

.comment_body > p:not(:first-child) {
	margin-top: 20px;
}

.comment_body a {
	text-decoration: underline;
	color: var(--accent);
}

.deeper_replies {
	color: var(--accent);
	margin-left: 15px;
}

::marker {
	color: var(--accent);
}

.replies > .comment {
	margin-left: -20px;
	padding: 5px;
}

.datetime {
	opacity: 0.75;
}

.line {
	width: 2px;
	height: 100%;
	background: var(--foreground);
}

.post.comment {
	background: #000;
	border: 2px solid var(--foreground);
}

.post.comment > .post_left {
	background: black;
}

/* Markdown */

.md > *:not(:first-child) {
	margin-top: 20px;
}

.md p {	font-size: 15px; }
.md h1 { font-size: 22px; }
.md h2 { font-size: 20px; }
.md h3 { font-size: 18px; }
.md h4 { font-size: 16px; }
.md h5 { font-size: 14px; }
.md h6 { font-size: 12px; }

.md blockquote {
	padding-left: 8px;
	margin: 4px 0 4px 8px;
	border-left: 4px solid var(--highlighted);
}

.md a {
	text-decoration: underline;
	color: var(--accent);
}

.md li { margin: 10px 0; }

.md pre {
	background: var(--outside);
	padding: 20px;
	margin-top: 10px;
	border-radius: 5px;
	box-shadow: var(--black-contrast);
}

.md code {
	font-family: monospace;
	font-size: 14px;
}

.md code:not(.md pre > code) { background: var(--highlighted); }

/* Tables */

table {
	border: 3px var(--highlighted) solid;
	border-spacing: 0;
}

td, th {
	border: 1px var(--highlighted) solid;
	padding: 10px;
}

/* Mobile */

@media screen and (max-width: 480px) {
	.post {
		flex-direction: column-reverse;
	}

	.post_left {
		border-radius: 0 0 5px 5px;
	}

	.post_right {
		padding: 20px;
	}

	.post_score {
		margin-top: 0;
	}

	.post_thumbnail {
		max-width: initial;
	}

	.replies > .comment {
		margin-left: -25px;
		padding: 5px 0;
	}

	.datetime {
		width: 100%;
	}
}

@media screen and (max-width: 800px) {
	main {
		flex-direction: column-reverse;
	}

	aside {
		margin: 20px 0 0 0;
		max-width: 100%;
	}

	#user, #sidebar {
		margin: 20px 0;
	}
}