/* General */

:root {
	--accent: aqua;
	--background: #0F0F0F;
	--foreground: #222;
	--outside: #1F1F1F;
	--post: #161616;
	--highlighted: #333;
	--black-contrast: 0 1px 3px rgba(0,0,0,0.5);
}

::selection {
	color: var(--background);
	background: var(--accent);
}

* {
	transition: 0.2s all;
	margin: 0;
	color: white;
	font-family: sans-serif;
}

body {
	background: var(--background);
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--accent);
	background: var(--outside);
	padding: 5px 15px;
	font-size: 20px;
	min-height: 40px;
}

nav #lib, nav #github, nav #version { color: white; }
nav #version { opacity: 25%; }

main {
	display: flex;
	justify-content: center;
	max-width: 1000px;
	padding: 10px 20px;
	margin: 20px auto;
}

#column_one {
	max-width: 750px;
	border-radius: 5px;
	overflow: hidden;
}

footer {
	display: flex;
	justify-content: center;
}

footer > a {
	margin-right: 5px;
}

button {
	background: none;
	border: none;
	font-weight: bold;
}

hr {
	margin: 20px 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a:not(.post_right):hover {
	text-decoration: underline;
}

img[src=""] {
	display: none;
}

aside {
	flex-grow: 1;
	margin: 20px 20px 0 20px;
	max-width: 350px;
}

/* User & Subreddit */

#user, #subreddit, #sidebar {
	margin: 40px auto 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	height: max-content;
	background: var(--outside);
	border-radius: 5px;
	overflow: hidden;
}

#user *, #subreddit * { text-align: center; }

#subreddit { padding: 0; }
#sub_meta { padding: 20px; }

#sidebar, #sidebar_contents { margin-top: 20px; }

#sidebar_label {
	border: 2px solid var(--highlighted);
	padding: 10px;
}

#user_icon, #sub_icon {
	width: 100px;
	height: 100px;
	border: 2px solid var(--accent);
	border-radius: 100%;
	padding: 10px;
	margin: 10px;
}

#user_title, #sub_title {
	margin: 0 20px;
	font-size: 20px;
	font-weight: bold;
}

#user_description, #sub_description {
	margin: 0 20px;
	font-size: 15px;
}

#user_name, #sub_name, #user_icon, #sub_icon, #user_description, #sub_description { margin-bottom: 20px; }

#user_details, #sub_details {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 20px;
}

#user_details > label, #sub_details > label {
	color: var(--accent);
	font-size: 15px;
}

/* Wiki Pages */

#wiki {
	background: var(--foreground);
	padding: 35px;
}

#top {
	background: var(--highlighted);
	font-size: 18px;
	width: 100%;
	display: flex;
}

#top > * {
	flex-grow: 1;
	text-align: center;
	height: 40px;
	line-height: 40px;
}

#top > div {
	border-bottom: 2px solid white;
}

/* Sorting and Search */

select {
	background: var(--outside);
}

select, #search {
	border: 0;
	padding: 0 15px;
	height: 40px;
	font-size: 15px;
	appearance: none;
	border-radius: 5px 0px 0px 5px;
}

#searchbox {
	display: flex;
	box-shadow: var(--black-contrast);
}

#searchbox > *, #sort_submit {
	background: var(--highlighted);
	height: 40px;
}

#search {
	border-right: 2px var(--outside) solid;
	min-width: 0;
	flex-grow: 1;
}

#inside {
	display: flex;
	font-size: 15px;
	align-items: center;
	border-right: 2px var(--outside) solid;
	height: 40px;
	padding: 0 10px;
}

#restrict_sr { margin-right: 5px; }

input[type="submit"] {
	border: 0;
	border-radius: 0px 5px 5px 0px;
}

select:hover { background: var(--foreground); }
input[type="submit"]:hover { color: var(--accent); }

#timeframe {
	border-radius: 5px 0px 0px 5px;
	margin-left: 10px;
}

#search_sort {
	background: var(--highlighted);
	border-radius: 5px;
	overflow: auto;
}

#search_sort > #search {
	border: 0;
	background: transparent;
}

#search_sort > :not(:first-child), #search_sort > #sort_options {
	margin: 0;
	border-radius: 0;
	border-right: 0;
	border-left: 2px solid var(--background);
	box-shadow: none;
	background: transparent;
}

#sort_options {
	height: 40px;
}

#sort, #search_sort {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

#sort_options, footer > a {
	border-radius: 5px;
	box-shadow: var(--black-contrast);
	background: var(--outside);
	display: flex;
	overflow: auto;
}

#sort_options > a, footer > a {
	color: lightgrey;
	padding: 10px 20px;
	text-align: center;
	cursor: pointer;
}

#sort_options > a.selected {
	background: var(--accent);
	color: black;
}

#sort_options > a:not(.selected):hover {
	background: var(--foreground);
}

/* Post */

.post {
	border-radius: 5px;
	background: var(--post);
	box-shadow: var(--black-contrast);
	display: flex;
}

.post.highlighted {
	margin: 20px 0;
}

.post:hover {
	background: var(--foreground);
}

.post:hover > .post_left {
	background: var(--highlighted);
}

.post_left, .post_right {
	display: flex;
	flex-direction: column;
	overflow-wrap: break-word;
}

.post_left {
	text-align: center;
	background: var(--foreground);
	border-radius: 5px 0 0 5px;
	min-width: 50px;
	padding: 5px;
}

.post_score {
	margin-top: 20px;
	color: var(--accent);
	font-size: 16px;
}

#post_footer {
	display: flex;
	justify-content: space-between;
	opacity: 0.5;
	font-size: 14px;
}

#post_links {
	display: flex;
	list-style: none;
	padding: 0;
	font-weight: bold;
}

#post_links > li {
	margin-right: 15px;
}

.nsfw {
	color: #FF5C5D;
	margin-top: 20px;
	border: 1px solid #FF5C5D;
	padding: 5px;
	font-size: 12px;
	border-radius: 5px;
	font-weight: bold;
}

.stickied {
	--accent: #5cff85;
	border: 1px solid #5cff85;
	padding: 5px;
}

.post_subreddit {
	font-weight: bold;
}

.post_title {
	font-size: 18px;
	line-height: 1.5;
}

.post_right {
	padding: 20px 25px;
	flex-grow: 1;
	flex-shrink: 1;
}

.post_right > * {
	margin: 5px;
}

.post_media {
	max-width: 90%;
	align-self: center;
}

.post_body {
	opacity: 0.9;
	font-weight: normal;
	margin: 10px 5px;
}

#post_url {
	color: var(--accent);
}

.post_thumbnail {
	object-fit: cover;
	width: auto;
	flex-shrink: 0;
	padding: 10px;
	border-radius: 15px;
	max-width: 20%;
}

.post_flair {
	background: var(--accent);
	color: black;
	padding: 5px;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
}

/* Comment */

.comment {
	margin-top: 15px;
	border-radius: 5px;
	display: flex;
	font-size: 15px;
}

.comment_left, .comment_right {
	display: flex;
	flex-direction: column;
}

.comment_left {
	text-align: center;
	min-width: 50px;
	padding: 5px 0;
	align-items: center;
}

.comment_title { font-size: 20px; }
.comment_link { text-decoration: underline; }
.comment_author { opacity: 0.9; }

.comment_author.op {
	color: var(--accent);
	font-weight: bold;
}

.author_flair {
	background: var(--highlighted);
	color: white;
	padding: 5px;
	margin-right: 5px;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
}

.comment_subreddit {
	font-weight: bold;
}

.comment_score {
	color: var(--accent);
	background: var(--foreground);
	min-width: 40px;
	border-radius: 5px;
	padding: 10px 0;
	font-size: 16px;
}

.comment_right {
	word-wrap: anywhere;
	padding: 10px 25px 10px 5px;
	flex-grow: 1;
	flex-shrink: 1;
}

.comment_data > * {
	margin: 5px;
}

.comment_image {
	max-width: 500px;
	align-self: center;
}

.comment_body {
	opacity: 0.9;
	font-weight: normal;
	margin: 10px 5px;
}

.comment_body > p:not(:first-child) {
	margin-top: 20px;
}

.comment_body a {
	text-decoration: underline;
	color: var(--accent);
}

.deeper_replies {
	color: var(--accent);
	margin-left: 15px;
}

::marker {
	color: var(--accent);
}

.replies > .comment {
	margin-left: -20px;
	padding: 5px;
}

.datetime {
	opacity: 0.75;
}

.line {
	width: 2px;
	height: 100%;
	background: var(--foreground);
}

.post.comment {
	background: #000;
	border: 2px solid var(--foreground);
}

.post.comment > .post_left {
	background: black;
}

/* Markdown */

.md > *:not(:first-child) {
	margin-top: 20px;
}

.md p {	font-size: 15px; }
.md h1 { font-size: 22px; }
.md h2 { font-size: 20px; }
.md h3 { font-size: 18px; }
.md h4 { font-size: 16px; }
.md h5 { font-size: 14px; }
.md h6 { font-size: 12px; }

.md blockquote {
	padding-left: 8px;
	margin: 4px 0 4px 8px;
	border-left: 4px solid var(--highlighted);
}

.md a {
	color: var(--accent);
}

.md li { margin: 10px 0; }
.toc_child { list-style: none; }

.md pre {
	background: var(--outside);
	padding: 20px;
	margin-top: 10px;
	border-radius: 5px;
	box-shadow: var(--black-contrast);
}

.md code {
	font-family: monospace;
	font-size: 14px;
}

.md code:not(.md pre > code) { background: var(--highlighted); }

/* Tables */

table {
	border: 3px var(--highlighted) solid;
	border-spacing: 0;
}

td, th {
	border: 1px var(--highlighted) solid;
	padding: 10px;
}

/* Mobile */

@media screen and (max-width: 480px) {
	.post {
		flex-direction: column-reverse;
	}

	.post_left {
		border-radius: 0 0 5px 5px;
	}

	.post_right {
		padding: 20px;
	}

	.post_score {
		margin-top: 0;
	}

	.post_thumbnail {
		max-width: initial;
	}

	.replies > .comment {
		margin-left: -25px;
		padding: 5px 0;
	}

	.datetime {
		width: 100%;
	}
}

@media screen and (max-width: 800px) {
	main {
		flex-direction: column-reverse;
		padding: 10px;
		margin: 10px 0;
	}
	nav {
		flex-direction: column;
		padding: 10px;
	}

	aside, #subreddit, #user {
		margin: 0;
		max-width: 100%;
	}

	#user, #sidebar { margin: 20px 0;	}
	#logo { margin: 5px auto; }
	#searchbox { width: 100%; }
	#github {	display: none; }
}
