<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<title>{% block title %}Ferrit{% endblock %}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="description" content="View on Ferrit, an alternative private front-end to Reddit.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- General PWA -->
		<meta name="theme-color" content="#1F1F1F">
		<!-- iOS Application -->
		<meta name="apple-mobile-web-app-title" content="Ferrit">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="default">
		<!-- Android -->
		<meta name="mobile-web-app-capable" content="yes">
		<!-- iOS Logo -->
		<link href="/touch-icon-iphone.png" rel="apple-touch-icon">
		<!-- PWA Manifest -->
		<link rel="manifest" type="application/json" href="/manifest.json">
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"> 
		<link rel="stylesheet" type="text/css" href="/style.css">
		{% endblock %}
		</head>
	<body class="
		{% if prefs.layout != "" %}{{ prefs.layout }}{% endif %}
		{% if prefs.wide == "on" %} wide{% endif %}
		{% if prefs.theme != "system" %} {{ prefs.theme }}{% endif %}">
		<!-- NAVIGATION BAR -->
		<nav>
			<div id="logo">
				<a id="ferrit_logo" href="/"><span id="ferrit_logo_p1">ferr</span><span id="ferrit_logo_p2">it.</span></a>
				<span id="version">v{{ env!("CARGO_PKG_VERSION") }}{% if crate::utils::sfw_only() %} <span title="This instance is SFW-only.">💼</span>{% endif %}</span>
				{% block subscriptions %}{% endblock %}
			</div>
			{% block search %}{% endblock %}
			<div id="links">
				<a id="reddit_link" href="https://www.reddit.com{{ url }}" rel="nofollow">
					<span>reddit</span>
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<title>reddit</title>
						<g transform="matrix(0.1219078,0,0,0.1219078,-2.7657832,-0.46047565)" style="fill:currentColor;fill-opacity:1;stroke:none;stroke-width:2">
							<path d="m 97.96875,84.774794 q -10.5,-1.78125 -19.875,-1.78125 -15.09375,0 -24.375,11.34375 -9.28125,11.343746 -9.28125,28.874996 v 47.625 h -16.875 v -65.71875 q 0,-7.124996 -1.3125,-16.781246 -1.21875,-9.65625 -3.5625,-18.9375 h 16.03125 q 3.75,12.9375 4.5,23.4375 h 0.46875 q 4.6875,-10.5 9.1875,-15.375 4.5,-4.96875 10.6875,-7.40625 6.1875,-2.53125 15.09375,-2.53125 9.75,0 19.3125,1.59375 z" />
							<path d="M 125.90625,172.71229 202.875,31.712294 h 16.6875 L 142.96875,172.71229 Z" />
						</g>
					</svg>
				</a>
				<a id="settings_link" href="/settings">
					<span>settings</span>
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<title>settings</title>
						<circle cx="12" cy="12" r="3"/><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"/>
					</svg>
				</a>
				<a id="code" href="https://github.com/ferritreader/ferrit">
					<span>code</span>
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<title>code</title>
						<polyline points="16 18 22 12 16 6"/><polyline points="8 6 2 12 8 18"/>
					</svg>
				</a>
			</div>
		</nav>
		
		<!-- MAIN CONTENT -->
		{% block body %}
		<main>
			{% block content %}
			{% endblock %}
		</main>
		{% endblock %}
	</body>
</html>
