<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<title>{% block title %}Libreddit{% endblock %}</title>
		<meta http-equiv="Referrer-Policy" content="no-referrer">
		<meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline'; base-uri 'none'; form-action 'self';
			{% if cfg!(not(feature = "proxy")) %}img-src https://*; media-src https://*{% endif %}">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="description" content="View on Libreddit, an alternative private front-end to Reddit.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/style.css">
		{% endblock %}
		</head>
	<body style="visibility: hidden;">
		<nav>
			<a id="logo" href="/"><span id="lib">lib</span>reddit. <span id="version">v{{ env!("CARGO_PKG_VERSION") }}</span></a>
			{% block search %}{% endblock %}
			<a id="github" href="https://github.com/spikecodes/libreddit">GITHUB</a>
		</nav>
		
		{% block body %}
		<main>
			{% block content %}
			{% endblock %}
		</main>
		{% endblock %}
	</body>
</html>