<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Page not found.</title>
		<meta name="description" content="View on Libreddit, an alternative private front-end to Reddit.">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="/style.css">
	</head>
<body>
	<header>
		<a href="/"><span style="color:white">lib</span>reddit.</a>
		<a style="color:white" href="https://github.com/spikecodes/libreddit">GITHUB</a>
	</header>
	<main>
		<h1 style="text-align: center; font-size: 50px;">{{ message }}</h1>
	</main>
</body>
</html>