{% extends "base.html" %}
{% block title %}NSFW content gated{% endblock %}
{% block sortstyle %}{% endblock %}
{% block content %}
<div id="nsfw_landing">
    {% if res_type == crate::utils::ResourceType::Subreddit %}
    <h1>😱 r/{{ res }} is a NSFW community!</h1>
    {% else if res_type == crate::utils::ResourceType::User %}
    <h1>😱 u/{{ res }}'s content is NSFW!</h1>
    {% else if res_type == crate::utils::ResourceType::Post %}
    <h1>😱 This post is NSFW!</h1>
    {% endif %}
    <br />
    <p>Enable "Show NSFW posts" in <a href="/settings">settings</a> to view this {% if res_type == crate::utils::ResourceType::Subreddit %}subreddit{% else if res_type == crate::utils::ResourceType::User %}user's posts or comments{% else if res_type == crate::utils::ResourceType::Post %}post{% endif %}.</p>
</div>
{% endblock %}
