{% extends "base.html" %}
{% block content %}
	<div id="column_one">
		<form>
			<select id="sort" name="sort"> 
				<option value="confidence" {% if sort == "confidence" %}selected{% endif %}>Best</option> 
				<option value="hot" {% if sort == "hot" %}selected{% endif %}>Hot</option>
				<option value="new" {% if sort == "new" %}selected{% endif %}>New</option> 
				<option value="top" {% if sort == "top" %}selected{% endif %}>Top</option> 
			</select><input id="sort_submit" type="submit" value="&rarr;">
		</form>
		{% for post in posts %}
		<div class="post">
			<div class="post_left">
				<h3 class="post_score">{{ post.score }}</h3>
				{% if post.nsfw %}<div class="nsfw">NSFW</div>{% endif %}
			</div>
			<div class="post_right">
				<h4>
					<b><a class="post_subreddit" href="/r/{{ post.community }}">r/{{ post.community }}</a></b>
					&bull; <a class="post_author" href="/u/{{ post.author }}">u/{{ post.author }}</a>
					{% if post.author_flair.0 != "" %}
						<small class="author_flair">{{ post.author_flair.0 }}</small>
					{% endif %}
					<span class="datetime" style="float: right;">{{ post.time }}</span>
				</h4>
				<h3 class="post_title">
					{% if post.flair.0 != "" %}
					<small class="post_flair" style="color:{{ post.flair.2 }}; background:{{ post.flair.1 }}">{{ post.flair.0 }}</small>
					{% endif %}
					<a href="{{ post.url }}">{{ post.title }}</a>
				</h3>
			</div>
			<img class="post_thumbnail" src="{{ post.media }}">
		</div><br>
		{% endfor %}

		<footer>
			{% if ends.0 != "" %}
			<a href="?before={{ ends.0 }}">PREV</a>
			{% endif %}

			{% if ends.1 != "" %}
			<a href="?after={{ ends.1 }}">NEXT</a>
			{% endif %}
		</footer>
	</div>
{% endblock %}
