{% extends "base.html" %}
{% block title %}{{ post.title }} - r/{{ post.community }}{% endblock %}
{% block head %}
	{% call super() %}
	<meta name="author" content="u/{{ post.author }}">
{% endblock %}
{% block content %}
	<div class="post highlighted">
		<div class="post_left">
			<h3 class="post_score">{{ post.score }}</h3>
		</div>
		<div class="post_right">
			<h4>
				<b><a class="post_subreddit" href="/r/{{ post.community }}">r/{{ post.community }}</a></b>
				&bull;
				Posted by 
				<a class="post_author" href="/u/{{ post.author }}">u/{{ post.author }}</a>
				<span class="datetime">{{ post.time }}</span>
			</h4>
			<h3 class="post_title">
				{{ post.title }}
				{% if post.flair.0 != "" %}
				<small style="color:{{ post.flair.2 }}; background:{{ post.flair.1 }}">{{ post.flair.0 }}</small>
				{% endif %}
			</h3>
			{% if post.post_type == "image" %}
			<img class="post_media" src="{{ post.media }}"/>
			{% else if post.post_type == "video" %}
			<video class="post_media" src="{{ post.media }}" controls autoplay loop>
			{% else if post.post_type == "link" %}
			<a href="{{ post.media }}">{{ post.media }}</a>
			{% endif %}
			<h4 class="post_body">{{ post.body }}</h4>
		</div>
	</div>
	<div id="sort">
		<div id="sort_confidence"><a href="?sort=confidence">Best</a></div>
		<div id="sort_top"><a href="?sort=top">Top</a></div>
		<div id="sort_new"><a href="?sort=new">New</a></div>
		<div id="sort_controversial"><a href="?sort=controversial">Controversial</a></div>
		<div id="sort_old"><a href="?sort=old">Old</a></div>
	</div>
	{% for comment in comments %}
	<div class="comment">
		<div class="comment_left">
			<div class="comment_upvote">↑</div>
			<h3 class="comment_score">{{ comment.score }}</h3>
		</div>
		<div class="comment_right">
			<h4>
				Posted by <a class="comment_author" href="/u/{{ comment.author }}">u/{{ comment.author }}</a>
				<span class="datetime">{{ comment.time }}</span>
			</h4>
			<h4 class="comment_body">{{ comment.body }}</h4>
		</div>
	</div><br>
	{% endfor %}
{% endblock %}