{% extends "base.html" %}
{% import "utils.html" as utils %}

{% block title %}Libreddit: search results - {{ params.q }}{% endblock %}

{% block content %}
	<div id="column_one">
		<form id="search_sort">
			<input id="search" type="text" name="q" placeholder="Search" value="{{ params.q }}" title="Search libreddit">
			{% if sub != "" %}
			<div id="inside">
				<input type="checkbox" name="restrict_sr" id="restrict_sr" {% if params.restrict_sr != "" %}checked{% endif %}>
				<label for="restrict_sr" class="search_label">in r/{{ sub }}</label>
			</div>
			{% endif %}
			<select id="sort_options" name="sort" title="Sort results by">
				{% call utils::options(params.sort, ["relevance", "hot", "top", "new", "comments"], "") %}
			</select>{% if params.sort != "new" %}<select id="timeframe" name="t" title="Timeframe"> 
				{% call utils::options(params.t, ["hour", "day", "week", "month", "year", "all"], "all") %}
			</select>{% endif %}<button id="sort_submit" class="submit">
					<svg width="15" viewBox="0 0 110 100" fill="none" stroke-width="10" stroke-linecap="round">
						<path d="M20 50 H100" />
						<path d="M75 15 L100 50 L75 85" />
						&rarr;
					</svg>
				</button>
		</form>
		
		{% if subreddits.len() > 0 %}
		<div id="search_subreddits">
			{% for subreddit in subreddits %}
			<a href="{{ subreddit.url }}" class="search_subreddit">
				<p class="search_subreddit_header"> 
					<span class="search_subreddit_name">{{ subreddit.name }}</span>
					<span class="dot">&bull;</span>
					<span class="search_subreddit_members">{{ subreddit.subscribers }} Members</span>
				</p>
				<p class="search_subreddit_description">{{ subreddit.description }}</p>
			</a>
			{% endfor %}
		</div>
		{%  endif %}
		{% for post in posts %}

		{% if post.flags.nsfw && prefs.hide_nsfw == "on" %}
		{% else if post.title != "Comment" %}
		<div class="post {% if post.flags.stickied %}stickied{% endif %}">	
			<p class="post_header">
				<a class="post_subreddit" href="/r/{{ post.community }}">r/{{ post.community }}</a>
				<span class="dot">&bull;</span>
				<a class="post_author" href="/u/{{ post.author.name }}">u/{{ post.author.name }}</a>
				<span class="dot">&bull;</span>
				<span class="created" title="{{ post.created }}">{{ post.rel_time }}</span>
			</p>
			<p class="post_title">
				{% if post.flair.flair_parts.len() > 0 %}
				<small class="post_flair" style="color:{{ post.flair.foreground_color }}; background:{{ post.flair.background_color }};">{% call utils::render_flair(post.flair.flair_parts) %}</small>
				{% endif %}
				<a href="{{ post.permalink }}">{{ post.title }}</a>{% if post.flags.nsfw %} <small class="nsfw">NSFW</small>{% endif %}
			</p>
			<!-- POST MEDIA/THUMBNAIL -->
			{% if (prefs.layout.is_empty() || prefs.layout == "card") && post.post_type == "image" %}
			<img class="post_media" alt="Post image" width="{{ post.media.width }}px" height="{{ post.media.height}}px" src="{{ post.media.url }}"/>
			{% else if post.post_type != "self" %}
			<a class="post_thumbnail {% if post.thumbnail.url.is_empty() %}no_thumbnail{% endif %}" href="{% if post.post_type == "link" %}{{ post.media.url }}{% else %}{{ post.permalink }}{% endif %}">
				{% if post.thumbnail.url.is_empty() %}
					<svg viewBox="0 0 100 106" width="140" height="53" xmlns="http://www.w3.org/2000/svg">
						<title>Thumbnail</title>
						<path d="M35,15h-15a10,10 0,0,0 0,20h25a10,10 0,0,0 10,-10m-12.5,0a10, 10 0,0,1 10, -10h25a10,10 0,0,1 0,20h-15" fill="none" stroke-width="5" stroke-linecap="round"/>
					</svg>
				{% else %}
					<img src="{{ post.thumbnail.url }}" alt="Thumbnail" width="{{ post.thumbnail.width }}px" height="{{ post.thumbnail.height }}px">
				{% endif %}
				<span>{% if post.post_type == "link" %}{{ post.domain }}{% else %}{{ post.post_type }}{% endif %}</span>
			</a>
			{% endif %}

			<div class="post_score">{{ post.score }}<span class="label"> Upvotes</span></div>
			<div class="post_footer">
				<a href="{{ post.permalink }}" class="post_comments">{{ post.comments }} Comments</a>
			</div>
		</div>
		{% else %}
			<div class="comment">
				<div class="comment_left">
					<p class="comment_score">{{ post.score }}</p>
					<div class="line"></div>
				</div>
				<details class="comment_right" open>
					<summary class="comment_data">
						<a class="comment_link" href="{{ post.permalink }}">COMMENT</a>
						<span class="created" title="{{ post.created }}">{{ post.rel_time }}</span>
					</summary>
					<p class="comment_body">{{ post.body }}</p>
				</details>
			</div>
		{% endif %}
		{% endfor %}

		<footer>
			{% if params.before != "" %}
			<a href="?q={{ params.q }}&restrict_sr={{ params.restrict_sr }}
				&sort={{ params.sort }}&t={{ params.t }}
				&before={{ params.before }}">PREV</a>
			{% endif %}

			{% if params.after != "" %}
			<a href="?q={{ params.q }}&restrict_sr={{ params.restrict_sr }}
				&sort={{ params.sort }}&t={{ params.t }}
				&after={{ params.after }}">NEXT</a>
			{% endif %}
		</footer>
	</div>
{% endblock %}
