{% extends "base.html" %}
{% import "utils.html" as utils %}

{% block title %}Libreddit Settings{% endblock %}

{% block search %}
	{% call utils::search("".to_owned(), "", "") %}
{% endblock %}

{% block content %}
	<div id="settings">
	<form action="/settings" method="POST">
		<div class="prefs">
			<p>Appearance</p>
			<div id="theme">
				<label for="theme">Theme:</label>
				<select name="theme"> 
					{% call utils::options(prefs.theme, ["system", "light", "dark", "black", "dracula", "nord"], "system") %}
				</select>
			</div>
			<p>Interface</p>
			<div id="front_page">
				<label for="front_page">Front page:</label>
				<select name="front_page"> 
					{% call utils::options(prefs.front_page, ["default", "popular", "all"], "default") %}
				</select>
			</div>
			<div id="layout">
				<label for="layout">Layout:</label>
				<select name="layout"> 
					{% call utils::options(prefs.layout, ["card", "clean", "compact"], "card") %}
				</select>
			</div>
			<div id="wide">
				<label for="wide">Wide UI:</label>
				<input type="checkbox" name="wide" {% if prefs.wide == "on" %}checked{% endif %}>
			</div>
			<p>Content</p>
			<div id="post_sort">
				<label for="post_sort" title="Applies only to subreddit feeds">Default subreddit post sort:</label>
				<select name="post_sort"> 
					{% call utils::options(prefs.post_sort, ["hot", "new", "top", "rising", "controversial"], "hot") %}
				</select>
			</div>
			<div id="comment_sort">
				<label for="comment_sort">Default comment sort:</label>
				<select name="comment_sort"> 
					{% call utils::options(prefs.comment_sort, ["confidence", "top", "new", "controversial", "old"], "confidence") %}
				</select>
			</div>
			<div id="show_nsfw">
				<label for="show_nsfw">Show NSFW posts:</label>
				<input type="checkbox" name="show_nsfw" {% if prefs.show_nsfw == "on" %}checked{% endif %}>
			</div>
			<div id="use_hls">
				<label for="use_hls">Use HLS for videos</label>
				<input type="checkbox" name="use_hls" {% if prefs.use_hls == "on" %}checked{% endif %}>
			</div>
			<input id="save" type="submit" value="Save">
		</div>
	</form>
	{% if prefs.subscriptions.len() > 0 %}
		<div class="prefs" id="settings_subs">
			<p>Subscribed Feeds</p>
			{% for sub in prefs.subscriptions %}
			<div>
				<span>{% if sub.starts_with("u_") -%}{{ format!("u/{}", &sub[2..]) }}{% else -%}{{ format!("r/{}", sub) }}{% endif -%}</span>
				<form action="/r/{{ sub }}/unsubscribe/?redirect=settings" method="POST">
						<button class="unsubscribe">Unsubscribe</button>
				</form>
			</div>
			{% endfor %}
		</div>
	{% endif %}

	<div id="settings_note">
		<p><b>Note:</b> settings and subscriptions are saved in browser cookies. Clearing your cookies will reset them.</p><br>
		<p>You can restore your current settings and subscriptions after clearing your cookies using <a href="/settings/restore/?theme={{ prefs.theme }}&front_page={{ prefs.front_page }}&layout={{ prefs.layout }}&wide={{ prefs.wide }}&comment_sort={{ prefs.comment_sort }}&show_nsfw={{ prefs.show_nsfw }}&use_hls={{ prefs.use_hls }}&subscriptions={{ prefs.subscriptions.join("%2B") }}">this link</a>.</p>
	</div>
</div>

{% endblock %}
