{% extends "base.html" %}
{% block title %}r/{{ sub.name }}: {{ sub.description }}{% endblock %}
{% block body %}
	{% block header %}
	<header>
		<a href="/"><span id="lib">lib</span>reddit.</a>
		<a id="github" href="https://github.com/spikecodes/libreddit">GITHUB</a>
	</header>
	{% endblock %}
	<div id="about">
		<div class="subreddit">
			<div class="subreddit_left">
				{{ sub.icon }}
			</div>
			<div class="subreddit_right">
				<h2 class="subreddit_name">r/{{ sub.name }}</h2>
				<p class="subreddit_description">{{ sub.description }}</p>
				<div id="stats">👤 {{ sub.members }} 🟢 {{ sub.active }}</div>
			</div>
		</div>
	</div>
	<main>
		<div id="sort">
			<div id="sort_hot"><a href="?sort=hot">Hot</a></div>
			<div id="sort_top"><a href="?sort=top">Top</a></div>
			<div id="sort_new"><a href="?sort=new">New</a></div>
		</div>
		{% for post in posts %}
		<div class="post">
			<div class="post_left">
				<h3 class="post_score">{{ post.score }}</h3>
			</div>
			<div class="post_right">
				<h4>
					<b><a class="post_subreddit" href="/r/{{ post.community }}">r/{{ sub.name }}</a></b>
					&bull;
					Posted by 
					<a class="post_author" href="/u/{{ post.author }}">u/{{ post.author }}</a>
					<span class="datetime">{{ post.time }}</span>
				</h4>
				<h3 class="post_title">
					{% if post.flair.0 != "" %}
					<small style="color:{{ post.flair.2 }}; background:{{ post.flair.1 }}">{{ post.flair.0 }}</small>
					{% endif %}
					<a href="{{ post.url }}">{{ post.title }}</a>
				</h3>
			</div>
			<img class="post_thumbnail" src="{{ post.media }}">
		</div><br>
		{% endfor %}

		<footer>
			{% if ends.0 != "" %}
			<a href="?before={{ ends.0 }}">PREV</a>
			{% endif %}

			{% if ends.1 != "" %}
			<a href="?after={{ ends.1 }}">NEXT</a>
			{% endif %}
		</footer>
	</main>
{% endblock %}