{% extends "base.html" %}
{% import "utils.html" as utils %}

{% block title %}
	{% if sub.title != "" %}{{ sub.title }}
	{% else if sub.name != "" %}{{ sub.name }}
	{% else %}Libreddit{% endif %}
{% endblock %}

{% block search %}
	{% call utils::search(["/r/", sub.name.as_str()].concat(), "") %}
{% endblock %}

{% block subscriptions %}
	{% call utils::sub_list(sub.name.as_str(), "wide") %}
{% endblock %}

{% block body %}
	<main>
		{% if !is_filtered %}
		<div id="column_one">
			<form id="sort">
				<div id="sort_options">
					{% if sub.name.is_empty() %}
						{% call utils::sort("", ["hot", "new", "top", "rising", "controversial"], sort.0) %}
					{% else %}
						{% call utils::sort(["/r/", sub.name.as_str()].concat(), ["hot", "new", "top", "rising", "controversial"], sort.0) %}
					{% endif %}
				</div>
				{% if sort.0 == "top" || sort.0 == "controversial" %}<select id="timeframe" name="t" title="Timeframe"> 
					{% call utils::options(sort.1, ["hour", "day", "week", "month", "year", "all"], "day") %}
				</select>
				<button id="sort_submit" class="submit">
					<svg width="15" viewBox="0 0 110 100" fill="none" stroke-width="10" stroke-linecap="round">
						<path d="M20 50 H100" />
						<path d="M75 15 L100 50 L75 85" />
						&rarr;
					</svg>
				</button>
				{% endif %}
			</form>

			{% if sub.name.contains("+") %}
				<form action="/r/{{ sub.name }}/subscribe?redirect={{ redirect_url }}" method="POST">
					<button id="multisub" class="subscribe" title="Subscribe to each sub in this multireddit">Subscribe to Multireddit</button>
				</form>
			{% endif %}

			{% if all_posts_hidden_nsfw %}
			<center>All posts are hidden because they are NSFW. Enable "Show NSFW posts" in settings to view.</center>
			{% endif %}

			{% if no_posts %}
			<center>No posts were found.</center>
			{% endif %}

			{% if all_posts_filtered %}
				 <center>(All content on this page has been filtered)</center>
			{% else %}
			<div id="posts">
			{% for post in posts %}
			{% if !(post.flags.nsfw && prefs.show_nsfw != "on") %}
			<hr class="sep" />
			{% call utils::post_in_list(post) %}
			{% endif %}
			{% endfor %}
			{% if prefs.use_hls == "on" %}
			<script src="/hls.min.js"></script>
			<script src="/playHLSVideo.js"></script>
			{% endif %}
			</div>
			{% endif %}

			<footer>
				{% if !ends.0.is_empty() %}
				<a href="?sort={{ sort.0 }}&t={{ sort.1 }}&before={{ ends.0 }}" accesskey="P">PREV</a>
				{% endif %}

				{% if !ends.1.is_empty() %}
				<a href="?sort={{ sort.0 }}&t={{ sort.1 }}&after={{ ends.1 }}" accesskey="N">NEXT</a>
				{% endif %}
			</footer>
		</div>
		{% endif %}
		{% if is_filtered || (!sub.name.is_empty() && sub.name != "all" && sub.name != "popular" && !sub.name.contains("+")) %}
		<aside>
			{% if is_filtered %}
				<center>(Content from r/{{ sub.name }} has been filtered)</center>
			{% endif %}
			{% if !sub.name.is_empty() && sub.name != "all" && sub.name != "popular" && !sub.name.contains("+") %}
			<details class="panel" id="subreddit" open>
				<summary id="subreddit_label">Subreddit</summary>
				{% if sub.wiki %}
				<div id="top">
					<div>Posts</div>
					<a href="/r/{{ sub.name }}/wiki/index">Wiki</a>
				</div>
				{% endif %}
				<div id="sub_meta">
					<img loading="lazy" id="sub_icon" src="{{ sub.icon }}" alt="Icon for r/{{ sub.name }}">
					<h1 id="sub_title">{{ sub.title }}</h1>
					<p id="sub_name">r/{{ sub.name }}</p>
					<p id="sub_description">{{ sub.description }}</p>
					<div id="sub_details">
						<label>Members</label>
						<label>Active</label>
						<div title="{{ sub.members.1 }}">{{ sub.members.0 }}</div>
						<div title="{{ sub.active.1 }}">{{ sub.active.0 }}</div>
					</div>
					<div id="sub_actions">
						<div id="sub_subscription">
							{% if prefs.subscriptions.contains(sub.name) %}
								<form action="/r/{{ sub.name }}/unsubscribe?redirect={{ redirect_url }}" method="POST">
									<button class="unsubscribe">Unsubscribe</button>
								</form>
							{% else %}
								<form action="/r/{{ sub.name }}/subscribe?redirect={{ redirect_url }}" method="POST">
									<button class="subscribe">Subscribe</button>
								</form>
							{% endif %}
						</div>
						<div id="sub_filter">
							{% if prefs.filters.contains(sub.name) %}
								<form action="/r/{{ sub.name }}/unfilter?redirect={{ redirect_url }}" method="POST">
									<button class="unfilter">Unfilter</button>
								</form>
							{% else %}
							<form action="/r/{{ sub.name }}/filter?redirect={{ redirect_url }}" method="POST">
								<button class="filter">Filter</button>
							</form>
							{% endif %}
						</div>
					</div>
				</div>
			</details>
			<details class="panel" id="sidebar">
				<summary id="sidebar_label">Sidebar</summary>
				<div id="sidebar_contents">
					{{ sub.info|safe }}
					{# <hr>
					<h2>Moderators</h2>
					<br>
					<ul>
					{% for moderator in sub.moderators %}
					<li><a style="color: var(--accent)" href="/u/{{ moderator }}">{{ moderator }}</a></li>
					{% endfor %}
					</ul> #}
				</div>
			</details>
			{% endif %}
		</aside>
		{% endif %}
	</main>
{% endblock %}
