{% extends "base.html" %}
{% block title %}Libreddit: u/{{ user.name }}{% endblock %}
{% block body %}
	<main style="max-width: 1000px;">
		<div id="column_one">
			<form>
				<select id="sort" name="sort"> 
					<option value="hot" {% if sort.0 == "hot" %}selected{% endif %}>Hot</option>
					<option value="new" {% if sort.0 == "new" %}selected{% endif %}>New</option> 
					<option value="top" {% if sort.0 == "top" %}selected{% endif %}>Top</option> 
				</select>{% if sort.0 == "top" %}<select id="timeframe" name="t"> 
					<option value="hour" {% if sort.1 == "hour" %}selected{% endif %}>Hour</option> 
					<option value="day" {% if sort.1 == "day" %}selected{% endif %}>Day</option>
					<option value="week" {% if sort.1 == "week" %}selected{% endif %}>Week</option>
					<option value="month" {% if sort.1 == "month" %}selected{% endif %}>Month</option> 
					<option value="year" {% if sort.1 == "year" %}selected{% endif %}>Year</option> 
					<option value="all" {% if sort.1 == "all" || sort.1 == "" %}selected{% endif %}>All</option>
				</select>{% endif %}<input id="sort_submit" type="submit" value="&rarr;">
			</form>
			{% for post in posts %}
			{% if post.title != "Comment" %}
			<div class='post'>
				<div class="post_left">
					<p class="post_score">{{ post.score }}</p>
					{% if post.nsfw %}<div class="nsfw">NSFW</div>{% endif %}
				</div>
				<div class="post_right">
					<p>
						<b><a class="post_subreddit" href="/r/{{ post.community }}">r/{{ post.community }}</a></b>
						&bull; <a class="post_author" href="/u/{{ post.author }}">u/{{ post.author }}</a>
						{% if post.author_flair.0 != "" %}
							<small class="author_flair">{{ post.author_flair.0 }}</small>
						{% endif %}
						<span class="datetime" style="float: right;">{{ post.time }}</span>
					</p>
					<p class="post_title">
						{% if post.flair.0 == "Comment" %}
						{% else if post.flair.0 == "" %}
						{% else %}
							<small class="post_flair" style="color:{{ post.flair.2 }}; background:{{ post.flair.1 }}">{{ post.flair.0 }}</small>
						{% endif %}
						<a href="{{ post.url }}">{{ post.title }}</a>
					</p>
				</div>
				<img class="post_thumbnail" src="{{ post.media }}">
			</div><br>
			{% else %}
			<div class="comment">
				<div class="comment_left">
					<p class="comment_score">{{ post.score }}</p>
					<div class="line"></div>
				</div>
				<details class="comment_right" open>
					<summary class="comment_data">
						<a class="comment_link" href="{{ post.url }}">COMMENT</a>
						<span class="datetime">{{ post.time }}</span>
					</summary>
					<p class="comment_body">{{ post.body }}</p>
				</details>
			</div><br>
			{% endif %}
			{% endfor %}
			<footer>
				{% if ends.0 != "" %}
				<a href="?sort={{ sort.0 }}&before={{ ends.0 }}">PREV</a>
				{% endif %}

				{% if ends.1 != "" %}
				<a href="?sort={{ sort.0 }}&after={{ ends.1 }}">NEXT</a>
				{% endif %}
			</footer>
		</div>
		<aside>
			<div id="user">
				<img id="user_icon" src="{{ user.icon }}">
				<p id="user_name">u/{{ user.name }}</p>
				<div id="user_description">{{ user.description }}</div>
				<div id="user_details">
					<label>Karma</label>
					<label>Created</label>
					<div>{{ user.karma }}</div>
					<div>{{ user.created }}</div>
				</div>
			</div>
		</aside>
	</main>
{% endblock %}