{% extends "base.html" %}
{% block title %}Libreddit: u/{{ user.name }}{% endblock %}
{% block body %}
	<main style="max-width: 1000px;">
		<div id="column_one">
			<form>
				<select id="sort" name="sort"> 
					<option value="hot" {% if sort == "hot" %}selected{% endif %}>Hot</option>
					<option value="new" {% if sort == "new" %}selected{% endif %}>New</option> 
					<option value="top" {% if sort == "top" %}selected{% endif %}>Top</option> 
				</select><input id="sort_submit" type="submit" value="&rarr;">
			</form>
			{% for post in posts %}
			{% if post.title != "Comment" %}
			<div class='post'>
				<div class="post_left">
					<h3 class="post_score">{{ post.score }}</h3>
					{% if post.nsfw %}<div class="nsfw">NSFW</div>{% endif %}
				</div>
				<div class="post_right">
					<h4>
						<b><a class="post_subreddit" href="/r/{{ post.community }}">r/{{ post.community }}</a></b>
						&bull; <a class="post_author" href="/u/{{ post.author }}">u/{{ post.author }}</a>
						{% if post.author_flair.0 != "" %}
							<small class="author_flair">{{ post.author_flair.0 }}</small>
						{% endif %}
						<span class="datetime" style="float: right;">{{ post.time }}</span>
					</h4>
					<h3 class="post_title">
						{% if post.flair.0 == "Comment" %}
						{% else if post.flair.0 == "" %}
						{% else %}
							<small class="post_flair" style="color:{{ post.flair.2 }}; background:{{ post.flair.1 }}">{{ post.flair.0 }}</small>
						{% endif %}
						<a href="{{ post.url }}">{{ post.title }}</a>
					</h3>
				</div>
				<img class="post_thumbnail" src="{{ post.media }}">
			</div><br>
			{% else %}
			<div class="comment">
				<div class="comment_left">
					<h3 class="comment_score">{{ post.score }}</h3>
				</div>
				<div class="comment_right">
					<h4>
						COMMENT
						<span class="datetime">{{ post.time }}</span>
					</h4>
					<h4 class="comment_body">{{ post.body }}</h4>
				</div>
			</div><br>
			{% endif %}
			{% endfor %}
		</div>
		<aside>
			<div class="user">
				<img class="user_icon" src="{{ user.icon }}">
				<h2 class="user_name">u/{{ user.name }}</h2>
				<div class="user_description">{{ user.description }}</div>
				<div class="user_details">
					<label>Karma</label>
					<label>Created</label>
					<div>{{ user.karma }}</div>
					<div>{{ user.created }}</div>
				</div>
			</div>
		</aside>
	</main>
{% endblock %}