{% extends "base.html" %}
{% import "utils.html" as utils %}

{% block title %}
	{% if sub != "" %}{{ page }} - {{ sub }}
	{% else %}Libreddit{% endif %}
{% endblock %}

{% block search %}
	{% call utils::search(["/r/", sub.as_str()].concat(), "") %}
{% endblock %}

{% block subscriptions %}
	{% call utils::sub_list(sub.as_str()) %}
{% endblock %}

{% block body %}
	<main>
		<div class="panel" id="column_one">
			<div id="top">
				<a href="/r/{{ sub }}">Posts</a>
				<div>Wiki</div>
			</div>
			<div id="wiki">
				{{ wiki|safe }}
			</div>
		</div>
	</main>
{% endblock %}
