/* Rosebox theme setting */
.rosebox {
	--accent: #a57562;
	--green: #a3be8c;
	--text: white;
	--foreground: #222;
	--background: #262626;
	--outside: #222;
	--post: #222;
	--panel-border: 1px solid #222;
	--highlighted: #262626;
	--shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}